* {
  box-sizing: border-box;
}

.loading {
  margin: auto;
  position: absolute;
}

.items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  padding: 5px 0px;
}

.item h3, .item h4 {
  margin: 5px 0;
}

.item a {
  text-decoration: none;
}

.item .description {
  display: block;
  font-size: 80%;
  font-style: italic;
}

.sm-label {
  font-size: 66%;
  margin: 10px 0;
  text-transform: uppercase;
}

.container {
  display: flex;
}

.layout--left {
  flex-basis: 50%;
  flex-shrink: 0;
}

.layout--right {
  flex-basis: 50%;
  flex-grow: 0;
  max-height: 100vh;
  overflow: auto;
}

.action-form {
  margin-top: 20px;
}

.action-form label {
  display: block;
}

.mt-3 {
  margin-top: 1rem;
}

.p-3 {
  padding: 1rem;
}